# ignore data and dataset folder 
**/data
**/dataset

# ignore compiled files
*.pyc

#ignore .DS_Store
.DS_Store

# ignore vscode files
**/.vscode
**/.idea

# ignore model files
models/*

# ignore plots files
plots/*

