# ignore data and dataset folder 
**/data
**/dataset

# ignore compiled files
*.pyc

#ignore .DS_Store
.DS_Store

# ignore vscode files
**/.vscode
**/.idea

# ignore model files
models/*
!models/.gitkeep

# exclude everything in plots
plots/*
!plots/.gitkeep 

#exclude everything in checkpoints
checkpoints/*
!checkpoints/.gitkeep 

training_logs/*
!training_logs/.gitkeep 
